@font-face {
  font-family: 'Munro';
  src: url(munro/munro.ttf);
}

.body{
  display: flex;
  flex-direction: row;
  background-color: #ecf1e8;
  padding-left:3%;
  justify-content: space-between;
  padding:50px;
  width:93vw;
  font-family: "Munro"; 

}
ul{
  margin:0
}

/* Left task bar */
.task-bar{
  background-color:#cedcc4;
  width:400px;
  height:700px;
  border:solid;
  border-color: #b0c7a0;
  text-align: center;
}

.indiv-task-div{
  display:flex;
  flex-direction:row;
  height: 50px;
  margin:10px;

}
.indiv-task-input{
  width:300px;
  height:50px;
  background-color:#bcd0b0;
  overflow-y:scroll;
  margin-right:5px
}
.trashcan{
  margin-top:5px;
  width: 40px;
  height:40px;
}
.trashcan img{
  width:inherit
}
.plus img{
  margin-top:5px;
  width: 40px;
  height:40px;
}

/* Checkboxes */
.cb {
  border: 3px solid #b0c7a0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 45px;
  height: 40px;
  border-radius: 4px;
  background-color: #f0f4ed;
  cursor: pointer;
  position: relative;
  margin-top: 5px;
}

.cb:hover{
  border: 4px solid #b0c7a0;

}

.cb:checked {
  background-color: white;
  background-image: url(images/checkmark.svg);
  background-repeat: no-repeat;
  background-position: center;
  /* transform: translate(-50%, -50%); */
}

.cb:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;

}


/* Progress bar + Right side formatting */
.right-side-div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
progress{
  width: 800px;
}

.plant-div{
  height: 600px;
  display:flex;
  justify-content: center;
}
.plant-div img{
  width:500px;
  height:587.50px;
}

progress {
  width: 800px;
  height:30px;
  border-radius:0px;
}
progress::-webkit-progress-value {
  transition: width 0.5s ease-out;
}

progress::-webkit-progress-bar {
  background-color: #d6e2ce;
  border: 1px solid #b4caa6;
}

progress::-webkit-progress-value {
  background: #b4caa6
}

